/* --------------------------
   RealView Container
-------------------------- */
.realview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* Black background for RealView */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------------------------
   RealView Video Element
-------------------------- */
.realview-video {
  max-width: 100%;
  max-height: 100%;
}


/* --------------------------
   Utility Classes
-------------------------- */
.pointer-none {
  pointer-events: none;
}
